<html layout:decorate="~{main-layout}">

<head>
    <style>
    
    </style>
    <title>Address Form</title>
</head>

<body>
    <div layout:fragment="content">
        <br><br>
        <div class="d-flex justify-content-center">
            <form action="#" th:action="@{./save}" th:object="${address}" method="post">
                <div class="form-group">

                    <div class="row">
                        <label for="civicNumber">Civic number</label>
                        <input type="text" class="form-control" th:field="*{civicNumber}" name="civicNumber">
                    </div>
                    <div class="row">
                        <label for="streetName">Street name</label>
                        <input type="text" class="form-control" th:field="*{streetName}" name="streetName">
                    </div> <br>
                    <div class="row">
                        <input type="submit" value="Submit" class="btn btn-info" />  &nbsp;
                        <input type="reset" value="Reset"  class="btn btn-info" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>