<html layout:decorate="~{main-layout}">
<head>
  <title>Visit</title>
</head>
<body>
  <div layout:fragment="content">
    <br><br>
    <div class="d-flex justify-content-center">
      <h2>Information about visit number <span th:text="${visit.id}"></span> :</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Institution</th>
              <th scope="col">Treating Doctor</th>
              <th scope="col">Visit date</th>
              <th scope="col">Diagnostic</th>
              <th scope="col">Treatment</th>
              <th scope="col">Summary</th>
              <th scope="col">Notes</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th><span th:text="${visit.institution.institutionShow()}"></span></th>
              <td><span th:text="${visit.doctor}"></span></td>
              <td><span th:text="${visit.visitDate}"></span></td>
              <td><span th:text="${visit.diagnostic}"></span></td>
              <td><span th:text="${visit.treatment}"></span></td>
              <td><span th:text="${visit.summary}"></span></td>
              <td><span th:text="${visit.notes}"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>